{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 41.9961816,
    "longitude": 21.4319213,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Warsaw",
    "external_url": null,
    "internal_url": null,
    "currency": "MKD",
    "country": "MK",
    "language": "en",
    "radius": 100
  }
}